<!doctype html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Gallery - Talking Minds – Psychotherapist Site Template</title>
    <link rel="shortcut icon" href="assets/images/site_logo/favourite_icon.svg">

    <!-- Fraimwork - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <!-- Icon Font - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.min.css">

    <!-- Animation - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/animate.min.css">

    <!-- Cursor - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/cursor.min.css">

    <!-- Carousel - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/slick.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/slick-theme.min.css">

    <!-- Video & Image Popup - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.min.css">

    <!-- Counter - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/odometer.min.css">

    <!-- Custom - CSS Include -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">

  </head>


  <body>

    <!-- Body Wrap - Start -->
    <div class="page_wrapper">

      <!-- Back To Top - Start -->
      <div class="backtotop">
        <a href="#" class="scroll">
          <i class="fa-solid fa-arrow-up"></i>
        </a>
      </div>
      <!-- Back To Top - End -->

      <!-- Site Header - Start
      ================================================== -->
      <header class="site_header">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-3 col-5">
              <div class="site_logo">
                <a class="site_link" href="../index.html">
                  <img src="assets/images/KAMAL KATWAL LOGO.svg" alt="Kamal Katwal - Professional Logo" style="width: 330px; height: auto;">
                </a>
              </div>
            </div>
            <div class="col-lg-6 col-2">
              <nav class="main_menu navbar navbar-expand-lg">
                <div class="main_menu_inner collapse navbar-collapse justify-content-center" id="main_menu_dropdown">
                  <ul class="main_menu_list unordered_list">
                    <li>
                      <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li>
                      <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="dropdown">
                      <a class="nav-link" href="#" id="programs_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Programs
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="programs_submenu">
                        <li><a href="service.html">Our Services</a></li>
                        <li><a href="service_details.html">Depression Therapy</a></li>
                        <li><a href="service_details_2.html">Relationships</a></li>
                      </ul>
                    </li>
                    <li class="dropdown active">
                      <a class="nav-link" href="#" id="help_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Help
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="help_submenu">
                        <li><a href="team.html">Our Team</a></li>
                        <li class="active"><a href="gallery.html">Our Gallery</a></li>
                        <li class="dropdown">
                          <a class="nav-link" href="#" id="blog_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Blogs
                          </a>
                          <ul class="dropdown-menu" aria-labelledby="blog_submenu">
                            <li><a href="blog.html">Blog Grid</a></li>
                            <li><a href="blog_list.html">Blog Listing</a></li>
                            <li><a href="blog_details.html">Blog Details</a></li>
                          </ul>
                        </li>
                        <li><a href="faq.html">F.A.Q.</a></li>
                        <li><a href="error.html">404 Error</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="nav-link" href="#" id="contact_submenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Contact
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="contact_submenu">
                        <li><a class="nav-link" href="contact.html">Clinic Contacts</a></li>
                        <li><a class="nav-link" href="contact_2.html">Contact Information</a></li>
                        <li><a class="nav-link" href="contact_3.html">Contact Details</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="col-lg-3 col-5">
              <ul class="header_btns_group unordered_list justify-content-end">
                <li>
                  <button class="mobile_menu_btn" type="button" data-bs-toggle="collapse" data-bs-target="#main_menu_dropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="far fa-bars"></i>
                  </button>
                </li>
                <li>
                  <a class="btn_hotline" href="tel:+8801680636189">
                    <span class="btn_icon">
                      <i class="fa-solid fa-phone"></i>
                    </span>
                    <span class="btn_text">+880-1680-6361-89</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <!-- Site Header - End
      ================================================== -->

      <!-- Main Body - Start
      ================================================== -->
      <main class="page_content">

        <!-- Page Banner - Start
        ================================================== -->
        <section class="page_banner decoration_wrapper">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h1 class="page_title mb-0">Gallery</h1>
              </div>
              <div class="col-lg-6">
                <ul class="breadcrumb_nav unordered_list justify-content-lg-end justify-content-center">
                  <li><a href="../index.html">Home</a></li>
                  <li>Gallery</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="decoration_item shape_leaf_1">
            <img src="assets/images/shapes/shape_leaf_left.svg" alt="Shape Leaf - Talking Minds - Psychotherapist Site Template">
          </div>
          <div class="decoration_item shape_leaf_2">
            <img src="assets/images/shapes/shape_leaf_right.svg" alt="Shape Leaf - Talking Minds - Psychotherapist Site Template">
          </div>
        </section>
        <!-- Page Banner - End
        ================================================== -->

        <!-- Gallery Section - Start
        ================================================== -->
        <div class="gallery_section section_space_lg">
          <div class="container-fluid px-0">
            <div class="zoom-gallery">
              <!-- Gallery -->
              <div class="row g-0">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                  <a class="popup_image" href="assets/kamal image/538852294_10239805834633944_2781142139430788121_n.jpg">
                    <img
                      src="assets/kamal image/538852294_10239805834633944_2781142139430788121_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/516806804_10239087820284034_1414911263941964588_n.jpg">
                    <img
                      src="assets/kamal image/516806804_10239087820284034_1414911263941964588_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/78951926_2564640856984790_2377767012588847104_n.jpg">
                    <img
                      src="assets/kamal image/78951926_2564640856984790_2377767012588847104_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/89537031_10221883356223185_1155821565309353984_n.jpg">
                    <img
                      src="assets/kamal image/89537031_10221883356223185_1155821565309353984_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/87384984_10221883369903527_8364164881556963328_n.jpg">
                    <img
                      src="assets/kamal image/87384984_10221883369903527_8364164881556963328_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/516931355_10239072510461298_719400927611352576_n.jpg">
                    <img
                      src="assets/kamal image/516931355_10239072510461298_719400927611352576_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/67373183_1070844316445730_810493163780177920_n.jpg">
                    <img
                      src="assets/kamal image/67373183_1070844316445730_810493163780177920_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/518149271_10239119763562596_5240434602545726694_n.jpg">
                    <img
                      src="assets/kamal image/518149271_10239119763562596_5240434602545726694_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/517605675_10239103416873939_7454672755258429351_n.jpg">
                    <img
                      src="assets/kamal image/517605675_10239103416873939_7454672755258429351_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/517659087_10238895922726715_95474295304439154_n.jpg">
                    <img
                      src="assets/kamal image/517659087_10238895922726715_95474295304439154_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/57272068_10218984664597706_8573961350928138240_n.jpg">
                    <img
                      src="assets/kamal image/57272068_10218984664597706_8573961350928138240_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/96292353_10222773968887945_7286299618369863680_n.jpg">
                    <img
                      src="assets/kamal image/96292353_10222773968887945_7286299618369863680_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/35511054_10216653141071075_2133359669521940480_n.jpg">
                    <img
                      src="assets/kamal image/35511054_10216653141071075_2133359669521940480_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/95095458_10222557626279515_1732138217165029376_n.jpg">
                    <img
                      src="assets/kamal image/95095458_10222557626279515_1732138217165029376_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/517687195_10239015245629713_7030442303606911360_n.jpg">
                    <img
                      src="assets/kamal image/517687195_10239015245629713_7030442303606911360_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/91982322_10222293808964247_8974452323837280256_n.jpg">
                    <img
                      src="assets/kamal image/91982322_10222293808964247_8974452323837280256_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0025.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0025.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0001.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0001.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0026.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0026.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0027.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0027.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0004.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0004.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0028.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0028.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0006.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0006.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0007.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0007.jpg"
                      class="w-100 shadow-1-strong"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                  <a class="popup_image" href="assets/kamal image/505605017_10238116185553773_6995723473560945306_n.jpg">
                    <img
                      src="assets/kamal image/505605017_10238116185553773_6995723473560945306_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/80860954_1495809497262548_5614782476586057728_n.jpg">
                    <img
                      src="assets/kamal image/80860954_1495809497262548_5614782476586057728_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/498709576_10237756444720477_9087926042220004923_n.jpg">
                    <img
                      src="assets/kamal image/498709576_10237756444720477_9087926042220004923_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/84331659_10221565195069355_830098289327079424_n.jpg">
                    <img
                      src="assets/kamal image/84331659_10221565195069355_830098289327079424_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/78805095_10220900831300676_4464204434984927232_n.jpg">
                    <img
                      src="assets/kamal image/78805095_10220900831300676_4464204434984927232_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/104364588_3619939941355788_4283263855850790001_n.jpg">
                    <img
                      src="assets/kamal image/104364588_3619939941355788_4283263855850790001_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/59523658_10219105282493078_4930344554244079616_n.jpg">
                    <img
                      src="assets/kamal image/59523658_10219105282493078_4930344554244079616_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/78481522_10220900833500731_1089678957281804288_n.jpg">
                    <img
                      src="assets/kamal image/78481522_10220900833500731_1089678957281804288_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/83027127_10157964363702250_6521756187975745536_n.jpg">
                    <img
                      src="assets/kamal image/83027127_10157964363702250_6521756187975745536_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/48929060_10218164628337312_782352507992014848_n.jpg">
                    <img
                      src="assets/kamal image/48929060_10218164628337312_782352507992014848_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/92827324_10222320234184861_8089705897133080576_n.jpg">
                    <img
                      src="assets/kamal image/92827324_10222320234184861_8089705897133080576_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/49375929_10218158232857429_5606553787398356992_n.jpg">
                    <img
                      src="assets/kamal image/49375929_10218158232857429_5606553787398356992_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/57543527_10218984665637732_8654301888180649984_n.jpg">
                    <img
                      src="assets/kamal image/57543527_10218984665637732_8654301888180649984_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/67370837_2431646563563202_2543651225224609792_n.jpg">
                    <img
                      src="assets/kamal image/67370837_2431646563563202_2543651225224609792_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/70987054_2377000989216220_5918295587622486016_n.jpg">
                    <img
                      src="assets/kamal image/70987054_2377000989216220_5918295587622486016_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/537260143_10239734258484585_4519117677121509980_n.jpg">
                    <img
                      src="assets/kamal image/537260143_10239734258484585_4519117677121509980_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0008.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0008.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0009.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0009.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0010.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0010.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0011.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0011.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0012.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0012.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0029.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0029.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0030.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0030.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0015.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0015.jpg"
                      class="w-100 shadow-1-strong"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                  <a class="popup_image" href="assets/kamal image/69925895_10220174127453534_5242699113157361664_n.jpg">
                    <img
                      src="assets/kamal image/69925895_10220174127453534_5242699113157361664_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/71114892_2377002749216044_1656386650604830720_n.jpg">
                    <img
                      src="assets/kamal image/71114892_2377002749216044_1656386650604830720_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/77161558_10220900830860665_7494565065044000768_n.jpg">
                    <img
                      src="assets/kamal image/77161558_10220900830860665_7494565065044000768_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/58594826_10219000397671023_6909089137731567616_n.jpg">
                    <img
                      src="assets/kamal image/58594826_10219000397671023_6909089137731567616_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/118582850_3284748854942252_7338281594386521340_n.jpg">
                    <img
                      src="assets/kamal image/118582850_3284748854942252_7338281594386521340_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/35292340_10216611234143428_4550064155536654336_n.jpg">
                    <img
                      src="assets/kamal image/35292340_10216611234143428_4550064155536654336_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/78849335_10220901102867465_5155371355603992576_n.jpg">
                    <img
                      src="assets/kamal image/78849335_10220901102867465_5155371355603992576_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/92952603_151880296320703_8506190924525600768_n.jpg">
                    <img
                      src="assets/kamal image/92952603_151880296320703_8506190924525600768_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/45094356_10217732864623489_1324778689606451200_n.jpg">
                    <img
                      src="assets/kamal image/45094356_10217732864623489_1324778689606451200_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/62166404_10219388329609079_1060361940016037888_n.jpg">
                    <img
                      src="assets/kamal image/62166404_10219388329609079_1060361940016037888_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/509611442_10238331146807670_3707442104022653427_n.jpg">
                    <img
                      src="assets/kamal image/509611442_10238331146807670_3707442104022653427_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/158833074_276576550517743_5053216964898858905_n.jpg">
                    <img
                      src="assets/kamal image/158833074_276576550517743_5053216964898858905_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/517991356_10239059413253876_5823188848638020933_n.jpg">
                    <img
                      src="assets/kamal image/517991356_10239059413253876_5823188848638020933_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/518375289_10239059415773939_5379502688260411239_n.jpg">
                    <img
                      src="assets/kamal image/518375289_10239059415773939_5379502688260411239_n.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0031.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0031.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0017.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0017.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0018.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0018.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0019.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0019.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0032.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0032.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0021.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0021.jpg"
                      class="w-100 shadow-1-strong mb-4"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>

                  <a class="popup_image" href="assets/kamal image/IMG-20250905-WA0023.jpg">
                    <img
                      src="assets/kamal image/IMG-20250905-WA0023.jpg"
                      class="w-100 shadow-1-strong"
                      alt="Kamal Katwal - Professional Photo"
                    />
                  </a>
                </div>
              </div>
              <!-- Gallery -->
            </div>
          </div>
        </div>
        <!-- Gallery Section - End
        ================================================== -->

      </main>
      <!-- Main Body - End
      ================================================== -->

      <!-- Site Footer - Start
      ================================================== -->
      <footer class="site_footer bg_primary">
        <div class="container">
          <div class="site_footer_content">
            <div class="row align-items-center">
              <div class="col-lg-3">
                <div class="site_logo">
                  <a class="site_link" href="../index.html">
                    <img src="assets/images/KAMAL KATWAL LOGO.svg" alt="Kamal Katwal - Professional Logo" style="width: 300px; height: auto;">
                  </a>
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="info_list unordered_list justify-content-center">
                  <li>
                    <a href="../index.html">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Home</span>
                    </a>
                  </li>
                  <li>
                    <a href="about.html">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">About</span>
                    </a>
                  </li>
                  <li>
                    <a href="service.html">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Program</span>
                    </a>
                  </li>
                  <li>
                    <a href="blog.html">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Blog</span>
                    </a>
                  </li>
                  <li>
                    <a href="gallery.html">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Gallery</span>
                    </a>
                  </li>
                  <li>
                    <a href="contact.html">
                      <span class="info_icon">
                        <i class="fa-solid fa-circle"></i>
                      </span>
                      <span class="info_text">Contacts</span>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-3">
                <ul class="social_links unordered_list justify-content-center justify-content-lg-end">
                  <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                  <li><a href="#!"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="#!"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#!"><i class="fa-brands fa-whatsapp"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="copyright_widget text-center">
            <p class="copyright_text m-0">Merkulove © <b>TalkingMinds</b> Template All rights reserved Copyrights 2023</p>
          </div>
        </div>
      </footer>
      <!-- Site Footer - End
      ================================================== -->

    </div>
    <!-- Body Wrap - End -->

    <!-- Fraimwork - Jquery Include -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/bootstrap-dropdown-ml-hack.min.js"></script>

    <!-- animation - jquery include -->
    <script src="assets/js/cursor.min.js"></script>

    <!-- Carousel - Jquery Include -->
    <script src="assets/js/slick.min.js"></script>

    <!-- Video & Image Popup - Jquery Include -->
    <script src="assets/js/magnific-popup.min.js"></script>
    
    <!-- Counter - Jquery Include -->
    <script src="assets/js/appear.min.js"></script>
    <script src="assets/js/odometer.min.js"></script>

    <!-- Custom - Jquery Include -->
    <script src="assets/js/main.js"></script>

  </body>
</html>
